<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.bigbang.io/applicationconfig">
  <application name="SuperMarket" displayName="سوپرمارکت">
    <migrationConfig assembly="BigBang.App.SuperMarket.Migrations.dll"/>
    <generatorConfig
      defaultModuleName="DefaultModule"
      assembly="BigBang.App.SuperMarket.Domain"
      namespace="BigBang.App.SuperMarket.Domain"
      applicationPrefix="SM">
      <DML name="BigBang.App.SuperMarket.DML">
      </DML>
      <commandFilters>
        <regexFilter pattern="^(.*)$" filterType="Accept" />
      </commandFilters>
      <tableNameRefactors>
        <pluralRefactor />
      </tableNameRefactors>
    </generatorConfig>
  </application>
</configuration>