<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.bigbang.io/bigbangconfig">
  <environment name="SuperMarketDev" />
  <logging local="true" />
  <applicationCatalog>
  	<database dataSource="." username="sa" password="123456"/>
    <applications>
      <application name="BigBang" assemblyName="BigBang.App">
        <initialCatalog value="BigBang_SuperMarket_Core"/>
      </application>
      <application name="SuperMarket" assemblyName="BigBang.App.SuperMarket">
        <initialCatalog value="BigBang_SuperMarket"/>
      </application>
    </applications>
  </applicationCatalog>
  <expression>
    <expressionService port="9586" autoRun="true" />
  </expression>
  <serverInfo>
    <defaultUser name="Super Administrator" username="BigBangAdmin" password="HackMe!" />
  </serverInfo>
</configuration>
