<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.bigbang.io/configuration/databasemigrator">
  <migrator
      assemblyPath="Host\bin"
      bigbangConfig="bigbang.config">
    <applications>
      <application>BigBang</application>
      <application>SuperMarket</application>
    </applications>
  </migrator>
</configuration>