<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.bigbang.io/configuration/metadatagenerator">
    <generator>
        <dml applicationFilter="SuperMarket"
             assembliesLoadPath="Host\bin"
             bigbangConfig="bigbang.config"
             buildPath="$Temp\SuperMarket\DML" />
    </generator>
</configuration>