<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.bigbang.io/configuration/metadatagenerator">
  <generator>
    <domain assembliesLoadPath="bin\debug"
            bigbangConfig="bigbang.config"
            buildPath="$Temp"
            domainCompileDependentAssemblies="Host\bin">
      <copy />
    </domain>
  </generator>
</configuration>